@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}


body {
	font-family: 'PT Sans',Georgia,Serif;
	background-color: #E7E7E5 !important;
}


.topbar {
	color: whitesmoke;
	background-color: #2c3e50;
	h1 {
		margin-top: 5px;
	}
}

.main-nav {
	margin-top: 15px;
}

//board wrapper
.outerwrap {
	text-align: center;
	padding: 20px 0 20px;
}

.difficulty {
	max-width: 550px;
	//min-width: 430px;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px !important;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #C1CCD8;
  background-color: white;
}
.board {
	display: inline-block;
	width: 100%;
	max-width: 550px;
	//min-width: 430px;
	position: relative;
	font-size: 12px;
	background-color: white;
}

.innerwrap {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.roottable {
	width: 100%;
	border: #AAA solid 2px;
	color: #777;
	border-radius: 6px;

}

.win-dialog {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	padding-top: 200px;
	left: 50%;
	div {
		position: relative;
		left: -50%
	}
}

//added to roottable when game is won
.finished {
	opacity: 0.4;
}

.rootrow {

}

.zone {
	border-color: #AAA;
	border-style: solid;
	border-width: 2px 2px 0 0;
	width: 33.3%
}
.innertable {
	height: 100%;
	width: 99%;
	tr:first-child {
		td.box {
			border-width: 0 2px 0 0;
		}
	}
	tr {
		td:last-child {
			border-right: 0;
		}
	}
}

// boxes which are set by the AI
.fixed {

}

//user editable box
.box.editable:hover {
	background-color: #f4f4f4;
	color: red;
}

.box.editable {
	color : rgb(112, 196, 185);
	transition: background-color 0.5s;
	transition: color 0.8s;
}


.box.selected {
	box-shadow: inset 0 0 20px #999999;

}

.box.wrong {
	background-color: rgb(255, 78, 23) !important;
}

.box:not(.wrong) {
	transition: background-color 0.5s;

}

.box {
	width: 33.3%;
	height: 58px;
	font-size: 2em;
	border-color: #CCC;
	border-style: dashed;
	border-width: 2px 2px 0 0;
	cursor: default;
	text-align: center;
	color: #777777;
	font-size: 2.5em;
}

//the github source box generated by embedly
//this selector isn't working
.bd {
	background-color: white;
}

.about {
	.page-header {
		border-bottom: 1px solid #D3BFFD !important;
	}
}

@media (max-width: 700px) {
  .about {
  	font-size: 20px;
  }
  .board {
  	min-width: 100% !important;
  }
  .box {
  	height: 50px !important;
  	font-size: 1.5em !important;
  }
}
