
.container.about
	.col-md-3
	.col-md-6
		.page-header
			h1
				small Introduction
		p 
			| I built UberSudoku in response to a programming challenge by 
			a(href="https://www.uber.com/") Uber
			|.  I've never been much of a sudoku player so this was an interesting
			| way to learn the game from the inside out.  If you
			| are an avid sudokuer with ideas on how to improve this puzzle, I would 
			| love to
			a(href="mailto:light24bulbs@gmail.com?Subject=sudoku%20feedback")  hear from you.
		.page-header
			h1
				small Rules
		ul
			li No number can repeat in a row or column.
			li No number can repeat in the same three by three square.
			li There can be only one solution(except in easy mode, to make it extra easy)
		.page-header
			h1
				small Technology
		ul
			li Nodejs
			li CoffeeScript
			li CSS3
			li 
				a(href="http://blog.fourthwoods.com/2011/02/05/sudoku-in-javascript/") Fourth Woods Media sudoku engine
		.page-header
			h1
				small To do
		ul
			li Arrow key navigation
			li Subscript notes
			li Allow illegal inputs 
			li Write a dancing links solver
			li Minfify project with requirejs minifier for faster load time
			li Reset board
