ul(class="nav nav-pills nav-justified main-nav", role="tablist")
  li(class='easy')
    a.home(href=".") Play
  li(class='medium')
    a.resume(href="source") Source
  li(class='hard')
    a.source(href="about") About
.outerwrap
	.board
		.win-dialog
			h1 You won!
			h2 Click to reset
		.innerwrap
			table.roottable
				- var box;// = 0;
				- for (var row = 0; row < 3; ++row) {
					tr.rootrow
						- for (var col = 0; col < 3; ++col) {
							td(class="zone_#{row}_#{col} zone")
								table(class="innertable")
									- for (var subrow = 0; subrow < 3; ++subrow) {
										tr
											-for (var subcol = 0; subcol < 3; ++subcol) {
												- box = ((row * 3 + subrow) * 9) + (col * 3 + subcol) 
												td(class="box_#{box} box", data-box=box)
													-// ++box;
													span
														
											- }
									-}
						- }
				- }
