div.
	<blockquote class="embedly-card"><h4><a href="https://github.com/light24bulbs/sudoku">light24bulbs/sudoku</a></h4><p>An open source Sudoku implementation in CoffeeScript with node.</p></blockquote>
	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>