html(lang="en")
  head
    title Sudoku
    link(rel="stylesheet", type="text/css", href="layout.css")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    script(data-main="main", src="libs/require.js")
  body
    div(class="topbar")
      .container
        ul(class="nav nav-pills nav-justified", role="tablist")
          li.active
            a.home(href=".") Play
          li 
            a.resume(href=".") Source
          li
            a.source(href=".") About
        h1 Sudoku
    include ./board.jade