html(lang="en")
  head
    title Sudoku
    link(rel="stylesheet", type="text/css", href="layout.css")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    script(data-main="main", src="libs/require.js")
  body
    div(class="topbar")
      .container
        h1 Sudoku
    .container
      ul(class="nav nav-pills nav-justified main-nav", role="tablist")

        li(class=section === "play" ? "active" : "")
          a.home(href=".") Play
        li(class=section === "source" ? "active" : "")
          a.resume(href="source") Source
        li(class=section === "about" ? "active" : "")
          a.source(href="about") About
    - if (section === "play") {
      include ./board.jade
    - } 
    - else if (section === "source") {
      include ./github.jade
    - }
    - else if (section === "about") {
      include ./about.jade
    - }
    