html(lang="en")
  head
    title Sudoku
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Cache-control", content="public")
    link(rel="stylesheet", type="text/css", href="layout.css")
    //link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    script(data-main="main", src="libs/require.js")
  body
    div(class="topbar")
      .container(class="clearfix top-container")
        h1 Sudoku
    div(class="main-nav nav")
      a(href=".", class=section === "play" ? "active" : "") Play
      a(href="source", class=section === "source" ? "active" : "") Source
      a(href="about", class=section === "about" ? "active" : "") About
    - if (section === "play") {
      include ./board.jade
    - } 
    - else if (section === "source") {
      include ./github.jade
    - }
    - else if (section === "about") {
      include ./about.jade
    - }
    